Repository is-project-4th-year/team-profile-site-the-agile-avenger, pull requests merged in 2025-06, with the labels that each got.

#27 feat: Add animal profile and description
  image/caracal.jpg
  index.html
Labels: feature

#29 feat: Improve animal profile layout and styling in team member cards
  index.html
Labels: enhancement

#34 doc: redo the rebase
  documentation.md
Labels: documentation

#36 35 git crash course lessons
  documentation.md
Labels: documentation
